<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ art_data.cname }}_{{ art_data.name }}_卧龙阅读</title>
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <link rel="stylesheet" type="text/css" href="/static/app_novel/css/book.css">
    <link rel="stylesheet" type="text/css" href="/static/plugins/swiper/swiper.min.css">
    <script type="text/javascript" src="/static/plugins/swiper/swiper.min.js"></script>
    <link href="/static/app_novel/css/aui.css" rel="stylesheet" type="text/css">
    <link href="/static/app_novel/css/my.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/fonts/myfont.css" type="text/css">
    <script src="/static/jquery/jquery-1.12.4.js"></script>
    <script src='/static/jquery/jquery.cookie.js'></script>
    <script type="text/javascript" src="/static/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="/static/plugins/layer/layer.css"></script>
    <script type="text/javascript" src="/static/app_novel/js/my.js"></script>
    <style type="text/css">
        .content {
            width: 100%;
            overflow: hidden;
        }

        .content p {
            text-indent: 2em;
        }

        .sliding {
            font-size: 19px;
            text-align: center;
        }
    </style>
</head>

<body class="skin-default">
    <!-- header -->
    <div class="header bookheader models">
        <a class="icon-back" href="javascript:history.go(-1)"><i class="iconfont" aria-hidden="true">&#xe7ed;</i></a>
        <h1>{{ art_data.name }}</h1>
        <span class="icon-group">
            <a class="icon-search" href="javascript:" title="搜索">
                <i class="iconfont" aria-hidden="true" >&#xe8ef;</i>
            </a>
            <a class='icon-home' href="/novel/" title="主页">
                <i class="iconfont" aria-hidden="true">&#xe7c6;</i>
            </a>
        </span>
    </div>
    <!-- end -->
    <!-- 搜索 -->
    <div class="search">
        <div class="search-mask"></div>
        <div class="search-panel">
            <div class="search-form">
                <form action="/novel/search/" method="get" name="searchform" id="searchform">
                    <input type="text" placeholder="请输入书名/作者" name="wd" class="search-key">
                    <button type="submit" class="search-btn"
                        onclick="if($('.search-key').val()==''){alert('请输入书名/作者');$('.search-key').focus();return false;}">Go</button>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(".icon-search").click(function () {
            $(".search").addClass("show");
        })
        $(".search-mask").click(function () {
            $(".search").removeClass("show");
        })
    </script>
    <!-- menu -->
    <div class="models1" style="display: none">
        <img src="/static/app_novel/img/lazyload.gif">
        <p></p>
        正在加载
    </div>
    <div class="b1 models" onclick="nextc()">
        下一章节
    </div>
    <div class="b2 models" onclick="prevc()">
        上一章节
    </div>
    <!-- 书本页面 -->
    <!-- 书本头部 -->
    <div class="bheader">
        <h1 id="chapterTitle" class="read-book-name">{{ art_data.cname }}</h1>
    </div>
    <div style="padding-top: 30px;">
        <div class="sliding pull-prev-page" style="display: none">下拉加载上一页</div>
        <div class="main" style="font-size: 18px; line-height: 40px;padding-top: 0;">
            <h3>{{ art_data.cname }}</h3>
            <div class="content">
                {{ art_data.content }}
            </div>
            <div id='end'></div>
        </div>
        <div class="sliding pull-next-page" style="display: none">上拉加载下一页</div>
    </div>
    <!-- 控制面板 -->
    <div class="actionDiv" style="display: none">
        <div class="aui-col-xs-6">A-</div>
        <div class="aui-col-xs-6">A+</div>
        <div class="clears"></div>
        <div class="borders"></div>
        <div class="aui-col-xs-3">
            <div class="bg1" bgcolor="#c4b395"></div>
        </div>
        <div class="aui-col-xs-3">
            <div class="bg2" bgcolor="#cad9e8"></div>
        </div>
        <div class="aui-col-xs-3">
            <div class="bg3" bgcolor="#d1edd1"></div>
        </div>
        <div class="aui-col-xs-3">
            <div class="bg4" bgcolor="#e6e6e6"></div>
        </div>
        <div class="clears"></div>
        <div class="borders"></div>
    </div>
    <!-- 结束 -->
    <div class="loading" style="display: none;">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- 设置 -->
    <div class="footer models">
        <div class="aui-col-xs-4">
            <a href="/novel/category/{{ art_data.id }}.html?c_id={{ art_data.cid}}#cate_{{ art_data.cid}}"
                title="{{ art_data.name }}的目录">
                <i class="iconfont" aria-hidden="true">&#xe7f4;</i>目录
            </a>
        </div>
        <div class="aui-col-xs-4">
            <i class="iconfont" aria-hidden="true">&#xe78e;</i>设置
        </div>
        <div class="aui-col-xs-4">
            <i class="iconfont" aria-hidden="true">&#xe644;</i>夜间
        </div>
    </div>
    <!-- end -->
    <script>
        var show = 0;
        var jz = 0;
        var Aid;
        var Cid;
        var Pid;
        var Nid;
        $(window).ready(function () {
            //查询本地缓存设置
            if (localStorage.bg) {
                $(".skin-default").css("background", localStorage.bg);
                $(".bheader").css("background", localStorage.bg);
            }
            if (localStorage.font) {
                $(".main").css("font-size", localStorage.font + "px");
                var ling = parseInt(localStorage.font) + 22;
                $(".main").css("line-height", ling + "px");
            } else {
                localStorage.font = 18;
                $(".main").css("font-size", "18px");
            }
            // 设置字体大小
            $(".actionDiv .aui-col-xs-6").click(function () {
                index = $(this).index();
                if (index == 0) {
                    localStorage.font = parseInt(localStorage.font - 1);
                } else if (index == 1) {
                    localStorage.font = parseInt(localStorage.font) + 1;
                }
                $(".main").css("font-size", localStorage.font + "px");
                var ling = parseInt(localStorage.font) + 22;
                $(".main").css("line-height", ling + "px");
            })
            // 设置背景颜色
            $(".actionDiv .aui-col-xs-3 div").click(function () {
                if ($(this).attr("bgcolor") == "#c4b395") {
                    $(".skin-default").css("background", "#c4b395");
                    localStorage.bg = "#c4b395";
                    $(".bheader").css("background", localStorage.bg);
                    $(".main").css("color", "#333");
                } else {
                    var bg = $(this).attr("bgcolor");
                    $(".skin-default").css("background", bg);
                    localStorage.bg = bg;
                    $(".bheader").css("background", localStorage.bg);
                    $(".main").css("color", "#333");
                }
            })
            // 点击页面呼出控制中心
            $(".main").click(function () {
                if (show == 0) {
                    $(".models").fadeIn();
                    show = 1;
                } else {
                    show = 0;
                    $(".models").fadeOut();
                    $(".actionDiv").fadeOut();
                }
            })
            // 底部控制台点击事件
            $(".footer .aui-col-xs-4").click(function () {
                index = $(this).index();
                if (index == 0) {
                } else if (index == 1) {
                    $(".actionDiv").fadeIn();
                } else {
                    if ($(".skin-default").css("background-color") == 'rgb(51, 51, 51)') {
                        $(".skin-default").css("background", "#c4b395");
                        $(".bheader").css("background", "#c2b196");
                        $(".main").css("color", "#333");
                        $(this).html('<i class="iconfont" aria-hidden="true">&#xe644;</i>夜间');
                    } else {
                        $(".skin-default").css("background-color", "#333");
                        $(".bheader").css("background", "#333");
                        $(".main").css("color", "#eeeeee");
                        $(this).html('<i class="iconfont" aria-hidden="true">&#xe78a;</i>日间');
                    }
                }
            })
            Aid = '{{ art_data.id }}';
            Cid = '{{ art_data.cid }}';
            Pid = '{{ art_data.pid }}';
            Nid = '{{ art_data.nid }}';
            // 上下滑动加载下一页
            var start_y = null;
            var end_y = null;
            $(document).on('touchstart', function (evt) {
                var touch = evt.originalEvent.targetTouches[0]; //获取第一个触点
                start_y = Number(touch.pageY);
            });
            $(document).on('touchmove', function (evt) {
                var touch = evt.originalEvent.targetTouches[0]; //获取第一个触点
                end_y = Number(touch.pageY) - start_y;
                if (end_y > 10) {
                    $('.pull-prev-page').css('display', 'block');
                    if (end_y <= 200) {
                        $('.pull-prev-page').css('height', end_y / 2 + 'px');
                        $('.pull-prev-page').css('lineHeight', end_y / 2 + 'px');
                        $('.pull-prev-page').text('下拉加载上一页')
                        if (end_y > 160) {
                            $('.pull-prev-page').text('松开加载')
                        }
                    } else {
                        $('.pull-prev-page').css('height', '100px');
                        $('.pull-prev-page').css('lineHeight', '100px');
                    }
                } else if (end_y < -10) {
                    $('.pull-next-page').css('display', 'block');
                    if (end_y >= -200) {
                        $('.pull-next-page').css('height', (-end_y / 2) + 'px');
                        $('.pull-next-page').css('lineHeight', (-end_y / 2) + 'px');
                        $('.pull-next-page').text('下拉加载下一页')
                        if (end_y < -160) {
                            $('.pull-next-page').text('松开加载')
                        }
                    } else {
                        $('.pull-next-page').css('height', '100px');
                        $('.pull-next-page').css('lineHeight', '100px');
                    }
                }
            });
            $(document).on('touchend', function (evt) {
                if (prev_page_flag == -1) {
                    if (end_y >= 160) {
                        $('.pull-prev-page').css('display', 'none');
                        $(".models1").show();
                        if (jz == 0) {
                            jz = 1;
                            if (Pid == '-1') {
                                $(".models1").fadeOut();
                                layer.msg("无更多章节内容了！");
                                jz = 0;
                                return;
                            }
                            ajaxBookText(Pid, Aid);
                            jz = 0;
                            // location.hash = "#end";
                        };
                    }
                }
                if (next_page_flag == 1) {
                    if (end_y <= -160) {
                        $('.pull-next-page').css('display', 'none');
                        $(".models1").show();
                        if (jz == 0) {
                            jz = 1;
                            if (Nid == '-1') {
                                $(".models1").fadeOut();
                                layer.msg("无更多章节内容了！");
                                jz = 0;
                                return;
                            }
                            ajaxBookText(Nid, Aid);
                            jz = 0;
                        }
                    }
                }
                $('.pull-prev-page').css('display', 'none');
                $('.pull-next-page').css('display', 'none');
                prev_page_flag = 0;
                next_page_flag = 0;
                start_y = null;
                end_y = null;
            });
            prev_page_flag = 0
            next_page_flag = 0
            $(window).scroll(function () {
                var scrollTop = $(this).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(this).height();
                if (scrollTop == 0) {
                    prev_page_flag = -1
                } else if (scrollTop > 50) {
                    prev_page_flag = 0
                }
                if (scrollTop + windowHeight >= scrollHeight) {
                    next_page_flag = 1
                } else if (scrollTop + windowHeight < scrollHeight - 50) {
                    next_page_flag = 0
                }
            });
        })
        function prevc() {
            $(".models1").show();
            if (Pid == '-1') {
                $(".models1").fadeOut();
                layer.msg("无更多章节内容了！");
                jz = 0;
                return;
            }
            ajaxBookText(Pid, Aid);
        }
        function nextc() {
            $(".models1").show();
            if (Nid == '-1') {
                $(".models1").fadeOut();
                layer.msg("无更多章节内容了！");
                jz = 0;
                return;
            }
            ajaxBookText(Nid, Aid);
        }
    </script>
    <div class="layui-layer-move"></div>
</body>

</html>