<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>{{ book_name }}最新目录_卧龙阅读</title>
    <link rel="stylesheet" type="text/css" href="/static/app_novel/css/book.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/plugins/swiper/swiper.min.css">
    <script type="text/javascript" src="/static/plugins/swiper/swiper.min.js"></script> -->
    <link href="/static/app_novel/css/aui.css" rel="stylesheet" type="text/css">
    <link href="/static/app_novel/css/my.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/fonts/myfont.css" type="text/css">
    <script src="/static/jquery/jquery-1.12.4.js"></script>
    <script src='/static/jquery/jquery.cookie.js'></script>
    <script type="text/javascript" src="/static/plugins/layer/layer.js"></script>
    <script type="text/javascript" src="/static/plugins/layer/layer.css"></script>
    <script type="text/javascript" src="/static/app_novel/js/my.js"></script>
    <style>
        .sliding {
            font-size: 19px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="header">
            <a class="icon-back" href="javascript:history.go(-1)"><i class="iconfont" aria-hidden="true">&#xe7ed;</i></a>
            <h1>{{ book_name }}的目录</h1>
            <span class="icon-group">
                <a class="icon-search" href="javascript:" title="搜索">
                    <i class="iconfont" aria-hidden="true" >&#xe8ef;</i>
                </a>
                <a class='icon-home' href="/novel/" title="主页">
                    <i class="iconfont" aria-hidden="true">&#xe7c6;</i>
                </a>
            </span>
        </div>
        <div class="models1" style="display: none">
            <img src="/static/app_novel/img/lazyload.gif">
            <p></p>
            正在加载
        </div>
        <!-- 搜索 -->
        <div class="search">
            <div class="search-mask"></div>
            <div class="search-panel">
                <div class="search-form">
                    <form action="/novel/search/" method="get" name="searchform" id="searchform">
                        <input type="text" placeholder="请输入书名/作者" name="wd" class="search-key">
                        <button type="submit" class="search-btn"
                            onclick="if($('.search-key').val()==''){alert('请输入书名/作者');$('.search-key').focus();return false;}">Go</button>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(".icon-search").click(function () {
                $(".search").addClass("show");
            })
            $(".search-mask").click(function () {
                $(".search").removeClass("show");
            })
        </script>
        <div class="h50"></div>
        <div class="sliding pull-prev-page" style="display: none">下拉加载上一页</div>
        <div class="list">
            <div class="aui-content aui-margin-b-15">
                <ul class="aui-list aui-list-in nobgs">
                    {% for item in cate_list %}
                    {% if item.id == -1 %}
                    <li class="aui-list-item chapter-title" style="padding-right: 0.75rem;">
                        <div class="aui-list-item-inner">
                            <div class="zxtitle" style="text-align: center;width: 100%;color: gray;">{{ item.name }}
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <a href="/novel/chapter/{{ a_id }}/{{ item.id }}.html" id="cate_{{ item.id }}"
                        title="{{ item.name }}">
                        <li class="aui-list-item">
                            <div class="aui-list-item-inner">
                                <div class="zxtitle">{{ item.name }}</div>
                            </div>
                        </li>
                    </a>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="sliding pull-next-page" style="display: none">上拉加载下一页</div>
    </div>
</body>
<script type="text/javascript">
    $(".icon-search").click(function () {
        $(".search").addClass("show");
    });
    $(".search-mask").click(function () {
        $(".search").removeClass("show");
    });
    $(".icon-menu").click(function () {
        $(".menu").addClass("show");
    });
    $(".menu-mask").click(function () {
        $(".menu").removeClass("show");
    });
    (function () {
        var url = window.location.href;
        if (url.indexOf("#") != -1) {
            var c_id = url.substring(url.indexOf("#"));
            $(c_id).children('li').css('color', '#0ebfc7');
        }
    })();
    // 上下滑动加载下一页
    var start_y = null;
    var end_y = null;
    $(document).on('touchstart', function (evt) {
        var touch = evt.originalEvent.targetTouches[0]; //获取第一个触点
        start_y = Number(touch.pageY);
    });
    $(document).on('touchmove', function (evt) {
        var touch = evt.originalEvent.targetTouches[0]; //获取第一个触点
        end_y = Number(touch.pageY) - start_y;
        if (end_y > 10) {
            $('.pull-prev-page').css('display', 'block');
            if (end_y <= 200) {
                $('.pull-prev-page').css('height', end_y / 2 + 'px');
                $('.pull-prev-page').css('lineHeight', end_y / 2 + 'px');
                $('.pull-prev-page').text('下拉加载上一页')
                if (end_y > 160) {
                    $('.pull-prev-page').text('松开加载')
                }
            } else {
                $('.pull-prev-page').css('height', '100px');
                $('.pull-prev-page').css('lineHeight', '100px');
            }
        } else if (end_y < -10) {
            $('.pull-next-page').css('display', 'block');
            if (end_y >= -200) {
                $('.pull-next-page').css('height', (-end_y / 2) + 'px');
                $('.pull-next-page').css('lineHeight', (-end_y / 2) + 'px');
                $('.pull-next-page').text('下拉加载下一页')
                if (end_y < -160) {
                    $('.pull-next-page').text('松开加载')
                }
            } else {
                $('.pull-next-page').css('height', '100px');
                $('.pull-next-page').css('lineHeight', '100px');
            }
        }
    });
    var jz = 0;
    $(document).on('touchend', function (evt) {
        if (prev_page_flag == -1) {
            if (end_y >= 160) {
                $('.pull-prev-page').css('display', 'none');
                $(".models1").show();
                if (jz == 0) {
                    jz = 1;
                    if ('{{ start_index }}' == '0') {
                        $(".models1").fadeOut();
                        layer.msg("无更多章节内容了！");
                        jz = 0;
                        return;
                    }
                    location.href = '/novel/category/{{ a_id }}.html?c_index={{ start_index }}'
                    jz = 0;
                };
            }
        }
        if (next_page_flag == 1) {
            if (end_y <= -160) {
                $('.pull-next-page').css('display', 'none');
                $(".models1").show();
                if (jz == 0) {
                    jz = 1;
                    if ('{{ end_index }}' == '{{ cate_count }}') {
                        $(".models1").fadeOut();
                        layer.msg("无更多章节内容了！");
                        jz = 0;
                        return;
                    }
                    location.href = '/novel/category/{{ a_id }}.html?c_index={{ end_index }}'
                    jz = 0;
                }
            }
        }
        $('.pull-prev-page').css('display', 'none');
        $('.pull-next-page').css('display', 'none');
        prev_page_flag = 0;
        next_page_flag = 0;
        start_y = null;
        end_y = null;
    });
    prev_page_flag = 0
    next_page_flag = 0
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop == 0) {
            prev_page_flag = -1
        } else if (scrollTop > 50) {
            prev_page_flag = 0
        }
        if (scrollTop + windowHeight >= scrollHeight) {
            next_page_flag = 1
        } else if (scrollTop + windowHeight < scrollHeight - 50) {
            next_page_flag = 0
        }
    });
</script>

</html>