{% extends "admin_layout.html" %}

{% block title %}<title>后台管理 | 更新视频</title>{% endblock %}

{% block css %}
<style>
    .row .invoice a {
        margin: 0 10px;
        border-bottom: blue 1px solid;
        color: blue;
    }
</style>
{% endblock %}


{% block main %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12">
                    <h3 class="m-0 text-dark" style="display: inline-block;">
                        <a href="/video/admin/update_video/">
                            <i class="nav-icon iconfont" aria-hidden="true">&#xe787;</i>更新视频&nbsp;&nbsp;
                        </a>
                    </h3>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Main content -->
                    <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <h4>
                            <a href="http://www.zuidazy5.com/">最大资源网</a>
                            >>>>>>
                            <a href="javascript:;" id='update'>更新今日</a>
                            <a href="javascript:;" id='update-all'>更新所有</a>
                        </h4>
                        <h4>
                            <a href="http://bajieziyuan.com/">八戒资源网</a>
                            >>>>>>
                            <a href="javascript:;" id='update_url2'>更新今日</a>
                            <a href="javascript:;" id='update-all_url2'>更新所有</a>
                        </h4>
                        <span class="error-msg"></span>
                    </div>
                    <!-- /.invoice -->
                    <div class="invoice p-3 mb-3">
                        <h4>解析视频地址</h4>
                        <form class="ml-3" action="https://www.administratorw.com/admin.php?url=">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-navbar" name="url" id="url"
                                    placeholder="【播放支持搜索★乐视视频网址★奇艺视频网址★腾讯视频网址★芒果视频网址★优酷视频网址】">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">
                                        <i class="iconfont" aria-hidden="true">&#xe8ef;</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.invoice -->
                    <div class="invoice p-3 mb-3">
                        <h4>爱奇艺视频搜索</h4>
                        <form class="ml-3" action="/video/i-search/" method="POST">
                            {% csrf_token %}
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-navbar" name="wd" id="wd"
                                    placeholder="请输入关键字搜索...">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">
                                        <i class="iconfont" aria-hidden="true">&#xe8ef;</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.invoice -->
                    <div class="invoice p-3 mb-3">
                        <h4>上传文件至系统后台</h4>
                        <form class="ml-3" action="/admin/upload/" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-group input-group-sm">
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="uploadFile"
                                            aria-describedby="uploadFileAddon">
                                        <label class="custom-file-label" for="uploadFile">选择文件</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="submit"
                                            id="uploadFileAddon">上传</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.invoice -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
{% endblock %}

{% block js %}
<script src="/static/jquery/jquery.cookie.js"></script>
<script>
    $('#update').click(function () {
        $(this).css('color', 'grey')
        $(this).css('border-bottom', 'grey 1px solid')
        if (true) {
            $.ajax({
                url: '/video/admin/update/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {}, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        alert(obj.data)
                    } else {
                        alert(obj.error)
                    }
                },
                error: function () {
                    $('.error-msg').text("update请求出现未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    });
    $('#update-all').click(function () {
        $(this).css('color', 'grey')
        $(this).css('border-bottom', 'grey 1px solid')
        if (true) {
            $.ajax({
                url: '/video/admin/update/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: { 'flag': 1 }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        alert(obj.data)
                    } else {
                        alert(obj.error)
                    }
                },
                error: function () {
                    $('.error-msg').text("update请求出现未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    });
    $('#update_url2').click(function () {
        $(this).css('color', 'grey')
        $(this).css('border-bottom', 'grey 1px solid')
        if (true) {
            $.ajax({
                url: '/video/admin/update2/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {}, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        alert(obj.data)
                    } else {
                        alert(obj.error)
                    }
                },
                error: function () {
                    $('.error-msg').text("update请求出现未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    })
    $('#update-all_url2').click(function () {
        $(this).css('color', 'grey')
        $(this).css('border-bottom', 'grey 1px solid')
        if (true) {
            $.ajax({
                url: '/video/admin/update2/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: { 'flag': 1 }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        alert(obj.data)
                    } else {
                        alert(obj.error)
                    }
                },
                error: function () {
                    $('.error-msg').text("update请求出现未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    });
</script>
{% endblock %}