{% extends "admin_layout.html" %}


{% block title %}<title>后台管理 | 首页轮播图</title>{% endblock %}

{% block css %}{% endblock %}


{% block main %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12">
                    <h3 class="m-0 text-dark" style="display: inline-block;">
                        <a href="/video/admin/get_carousel/">
                            <i class="nav-icon iconfont" aria-hidden="true">&#xe787;</i>首页轮播图&nbsp;&nbsp;
                        </a>
                    </h3>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Main content -->
                    <div class="invoice p-2 mb-3">
                        <!-- title row -->
                        <h4>共{{ data_count }}条请求</h4>
                        <div class="video_list" style="width: 100%;">
                            <ul class="tt">
                                <li>
                                    <span class="col-4">影片序号</span>
                                    <span class="col-4">影片名称</span>
                                    <span class="col-4">影片链接</span>
                                    <span class="col-4">影片图片</span>
                                    <span class="col-4">操作</span>
                                </li>
                            </ul>
                            <ul class="td">
                                {% for item in carousel_list %}
                                <li style="display: block;text-align: left;">
                                    <!-- 影片名称 -->
                                    <span class="col-4">{{ item.vod_index}}</span>
                                    <span class="col-4">
                                        <a href="{{ item.vod_url}}" target="_blank" title="{{ item.vod_name}}">
                                            <span style="border:none!important"
                                                class="vod_name">{{ item.vod_name}}</span>
                                        </a>
                                    </span>
                                    <!-- 影片类别 -->
                                    <span class="col-4">{{ item.vod_url}}</span>
                                    <!-- 更新时间 -->
                                    <span class="col-4">{{ item.vod_pic}}</span>
                                    <!-- 操作 -->
                                    <span class="col-4">
                                        <a href="javascript:void(0)" class="del_btn"
                                            style="color: red;border-bottom:red 1px solid;">删除</a>
                                    </span>
                                </li>
                                {% endfor%}
                                <li>
                                    <form class="form-inline carousel-form" method="post" style="width: 100%;">
                                        <input class="form-control " type="text" name="vod_index" id="vod_index"
                                            value="" placeholder="影片序号">
                                        <input class="form-control" type="text" name="vod_name" id="vod_name" value=""
                                            placeholder="影片名称">
                                        <input class="form-control" type="text" name="vod_url" id="vod_url" value=""
                                            placeholder="影片链接">
                                        <input class="form-control" type="text" name="vod_pic" id="vod_pic" value=""
                                            placeholder="影片图片">
                                        <a href="javascript:void(0)" class="add_btn"
                                            style="color: red;border-bottom:red 1px solid;">添加</a>
                                    </form>
                                </li>
                            </ul>
                            <!-- 翻页 -->
                            <div style="clear: both;"></div>
                            <ul class="stui-page text-center clearfix">
                                {{ page_str }}
                            </ul>
                            <!-- end 翻页 -->
                        </div>
                    </div>
                    <!-- /.invoice -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
{% endblock %}

{% block js %}

<script src='/static/jquery/jquery.cookie.js'></script>
<script>
    function add_carousel() {
        var res = confirm('确认提交？');
        // console.log(ths);
        if (res == true) {
            $.ajax({
                url: '/video/admin/add_carousel/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'vod_index': $('#vod_index').val(),
                    'vod_name': $('#vod_name').val(),
                    'vod_url': $('#vod_url').val(),
                    'vod_pic': $('#vod_pic').val(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        location.reload();
                    } else {
                        console.log(obj.error),
                        alert('请求出错，请稍后重试')
                    }
                },
                error: function () {
                    console.log("请求未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    }
    $(".add_btn").on("click", function () {
        // $('carousel-form input').each(function(){
        //     $(this).val();
        //     if (ths.val()=="") {
        //         console.log(ths);
        //         ths.attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', '请输入参数').tooltip('show');
        //         // return false;
        //     };
        // })
        add_carousel();
        // console.log('1')
    });
    $('.del_btn').click(function () {
        // var res = confirm('确认删除？');
        if (true) {
            $.ajax({
                url: '/video/admin/del_carousel/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'vod_name': $(this).parent().parent().find('.vod_name').text(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        // alert('删除成功！')
                        location.reload();
                    } else {
                        $('#error_msg').text(obj.error)         // 将收到的错误信息传给error_msg标签
                    }
                },
                error: function () {
                    console.log("删除请求未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    })
</script>
{% endblock %}