{% extends "video_layout.html" %}

{% block title %}<title>卧龙影视，您的专属在线影院</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block main %}
<div class="stui-pannel clearfix">
    <div class="stui-pannel__head clearfix" style="margin-top: 10px;">
        <h3 class="title">
            与“{{ wd }}”相关的影片 共{{data_count}}部
            <form class="ff-play hidden-xs" name="search" action="javascript:void(0);" method="post" data-sid="0"
                data-limit="10" style="float: right;font-size: 14px;">
                {% csrf_token %}
                <span style="color: red;">没有找到想看的资源？点击→</span>
                <a class="show_req" href="javascript:void(0);"
                    style="text-decoration:underline;color: cadetblue;">提需求</a>
                <input class="hide ff-req form-control" type="text" name="vod_name" value="" placeholder="请输入影片名称..."
                    style='display: inline-block; width: auto;vertical-align:middle;'>
                <button class="submit hide push_req btn btn-default" type="submit" name="submit">提交</button>
            </form>
        </h3>
    </div>
    <ul class="stui-vodlist clearfix">
        {% for item in video_list %}
        {% include "video_tag.html" %}
        {% endfor%}
    </ul>
    <div style="font-size: 14px;margin: 10px;text-align: center;">
        <form class="ff-play visible-xs" name="search" action="javascript:void(0);" method="post" data-sid="0"
            data-limit="10" style="width: 100%;">
            {% csrf_token %}
            <span style="color: red;">没有找到想看的资源？点击→</span>
            <a class="show_req" href="javascript:void(0);" style="text-decoration:underline;color: cadetblue;">提需求</a>
            <input class="hide ff-req form-control" type="text" name="vod_name" value="" placeholder="请输入影片名称..."
                style='display: inline-block; width: auto;vertical-align:middle;width: 70%;'>
            <button class="submit hide push_req btn btn-default" type="submit" name="submit">提交</button>
        </form>
    </div>
    <!-- 翻页 -->
    <div style="clear: both;"></div>
    <ul class="stui-page text-center clearfix">
        {{ page_str }}
    </ul>
    <!-- end 翻页 -->
</div>
{% endblock %}


{% block js %}
<script src="/static/plugins/hammer/hammer.min.js"></script>
<script src="/static/plugins/hammer/jquery.hammer.js"></script>
<script src='/static/jquery/jquery.cookie.min.js'></script>
<script>
    $('.show_req').click(function () {
        $(this).siblings('.ff-req').removeClass('hide');
        $(this).siblings('button').removeClass('hide');
        $(this).addClass('hide');
        $(this).siblings('span').addClass('hide');
    })
    function push_request(ths) {
        var res = confirm('确认提交？');
        console.log(ths);
        if (res == true) {
            $.ajax({
                url: '/video/push_request/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'vod_addtime': "尚未收录",
                    'list_name': "尚未收录",
                    'vod_name': ths.siblings('.ff-req').val(),
                    'vod_continu': "尚未收录",
                    'vod_id': ths.siblings('.ff-req').val(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        alert('提交成功，管理员稍后为您添加！')
                    } else {
                        console.log(obj.error),
                            alert('请求出错，请稍后重试')
                    }
                },
                error: function () {
                    console.log("请求未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    }
    $(".ff-play input").keyup(function (event) {
        if (event.keyCode == 13) {
            $form = $(this).parent('.ff-play');
            $req = $form.find('.ff-req').val();
            if (!$req) {
                $form.find('.ff-req').focus();
                $form.find('.ff-req').attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', '请输入影片名称').tooltip('show');
                return false;
            };
            push_request(this);
        }
    });
    $(".ff-play button").on("click", function () {
        $req = $(this).siblings('.ff-req').val();
        if ($req == "") {
            $(this).siblings('.ff-req').focus();
            $(this).siblings('.ff-req').attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', '请输入影片名称').tooltip('show');
            return false;
        }
        push_request($(this));
    });
</script>
{% endblock %}