<li class="stui-vodlist__item">
    <a class="stui-vodlist__thumb lazyload" href="/video/play/{{ item.vod_id }}/" title="{{item.vod_name}}"
        data-original="{{ item.vod_pic }}" style="display: block; background-image: url('{{ item.vod_pic }}');">
        <span class="play hidden-xs"></span>
        <span class="pic-text text-right">{{item.vod_continu}}</span>
        {% if item.vod_rating is not None and item.vod_rating != '0' %}
        <span class="stui-vodlist__rating">{{item.vod_rating}}</span>
        {% endif %}
    </a>
    <h4 class="stui-vodlist__title"><a href="/video/play/{{ item.vod_id }}/"
            title="{{item.vod_name}}">{{item.vod_name}}</a></h4>
    <p class="text text-overflow text-muted hidden-xs" title="{{item.vod_actor}}">{{item.vod_actor}}</p>
</li>