{% extends 'video_layout.html' %}

{% block title %}
<title>{{vod_data.vod_name}}&nbsp;{{ video_url.0 }}在线观看</title>
{% endblock %}

{% block css %}{% endblock %}

{% block main %}
<!-- 播放器  -->
<div class="stui-pannel clearfix" style="margin-left: 10px;margin-right: 10px;">
    <div class="stui-player col-pd pb-0">
        <div>
            <div id='video_player'></div>
        </div>
        <div class="stui-player__detail detail">
            <h4 class="title">
                <a href="/video/play/{{vod_data.vod_id}}/1/{{ index }}/">{{vod_data.vod_name}}</a>
                <span style="font-size: 14px;">&nbsp;{{ video_url.0 }}</span>
                {% if vod_data.vod_rating is not None%}
                <a href="https://movie.douban.com/subject/{{ vod_data.vod_douban_id }}/" target="_blank" title="{{vod_data.vod_rating}}" style="color:#ff5f00;font-size: 14px;">[ {{vod_data.vod_rating }} ]</a>
                {% endif %}
                <span style="float: right;font-size: 14px;color: red;">
                    <span class="hidden-xs">已有最新资源？点击→</span>
                    <a id="push_req" href="javascript:void(0);"
                        style="text-decoration:underline;color: cadetblue;">催更</a>
                </span>
            </h4>
            <p class="data">
                <span style="display: none;">{{ vod_data.vod_id }}</span>
                <span style="display: none;">{{ vod_data.vod_addtime }}</span>
                <span style="display: none;">{{ vod_data.vod_continu }}</span>
                <span class="text-muted hidden-xs">类型：</span>
                <a href="javascript:void(0)">{{vod_data.list_name}}</a><span class="split-line"></span>
                <span class="text-muted hidden-xs">地区：</span>
                <a href="javascript:void(0)">{{vod_data.vod_area}}</a><span class="split-line"></span>
                <span class="text-muted hidden-xs">年份：</span>
                <a href="javascript:void(0)">{{vod_data.vod_year}}</a><span class="split-line"></span>
                <span class="text-muted hidden-xs">导演：</span>
                <a href="javascript:void(0)">{{vod_data.vod_director}}</a>&nbsp; <span class="split-line"></span>
                <span class="text-muted hidden-xs">主演：</span>
                <a href="javascript:void(0)" title="{{vod_data.vod_actor}}">{{vod_data.vod_actor|slice:"30"}}</a>
            </p>
        </div>
    </div>
</div>
<!-- end 播放器  -->

<!-- 播放地址 -->
<div class="stui-pannel clearfix" style="margin-left: 10px;margin-right: 10px;">
    <div class="stui-pannel__head clearfix">
        <span class="more text-muted pull-right">&lt;电脑端推荐&gt;画质更好，无广告</span>	
        <h3 class="title">
            线路一
        </h3>	
    </div>
    <ul class="stui-content__playlist clearfix">
        {% for item in video_list %}
        {% if url_index == 1 and index == forloop.counter %}
        <li class="active">
            <a title="{{ item.0 }}" href="/video/play/{{vod_data.vod_id}}/1-{{ forloop.counter }}.html">{{ item.0 }}</a>
        </li>
        {% else %}
        <li>
            <a title="{{ item.0 }}" href="/video/play/{{vod_data.vod_id}}/1-{{ forloop.counter }}.html">{{ item.0 }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="stui-pannel clearfix" style="margin-left: 10px;margin-right: 10px;">
    <div class="stui-pannel__head clearfix">
        <span class="more text-muted pull-right">&lt;移动端推荐&gt;缓冲快，但有广告</span>
        <h3 class="title">
            线路二
        </h3>
    </div>
    <ul class="stui-content__playlist clearfix">
        {% for item in video2_list %}
        {% if url_index == 2 and index == forloop.counter %}
        <li class="active">
            <a title="{{ item.0 }}" href="/video/play/{{vod_data.vod_id}}/2-{{ forloop.counter }}.html">{{ item.0 }}</a>
        </li>
        {% else %}
        <li>
            <a title="{{ item.0 }}" href="/video/play/{{vod_data.vod_id}}/2-{{ forloop.counter }}.html">{{ item.0 }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<!-- end 播放地址 -->

<!-- 剧情  -->
<div class="stui-pannel clearfix" id="desc" style="margin-left: 10px;margin-right: 10px;">
    <div class="stui-pannel__head clearfix">
        <h3 class="title">
            剧情介绍
        </h3>
    </div>
    <div class="col-pd clearfix">
        <div class="stui-content__desc">
            {{vod_data.vod_content}}
        </div>
    </div>
</div>
<!-- end 剧情  -->
<div class="stui-pannel clearfix" id="desc" style="margin-left: 10px;margin-right: 10px;">
    <a id="get_douban_id" href="javascript:void(0);">.</a>
    <div class='msg'></div>
    <div class='douban_link'></div>
</div>
{% endblock %}

{% block js %}
<script src="/static/plugins/DPlayer/hls.min.js"></script>
<script src="/static/plugins/DPlayer/DPlayer.min.js"></script>
<script src='/static/jquery/jquery.cookie.js'></script>
<script>
    $('#push_req').click(function () {
        var res = confirm('确认提交？');
        if (res == true) {
            $.ajax({
                url: '/video/push_request/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'vod_addtime': '{{vod_data.vod_addtime}}',
                    'list_name': '{{vod_data.list_name}}',
                    'vod_name': '{{vod_data.vod_name}}',
                    'vod_continu': '{{vod_data.vod_continu}}',
                    'vod_id': '{{vod_data.vod_id}}',
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        alert('提交成功，管理员稍后为您添加！')
                    } else {
                        console.log(obj.error),
                            alert('请求出错，请稍后重试')
                    }
                },
                error: function () {
                    console.log("请求未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    });
    $('#get_douban_id').click(function () {
        $.ajax({
            url: '/admin/get_rating_by_name/',
            type: "POST",
            headers: { "X-CSRFToken": $.cookie('csrftoken') },
            data: {
                'vod_id': '{{vod_data.vod_id}}',
                'vod_name': '{{vod_data.vod_name}}',
                'vod_year': '{{vod_data.vod_year}}',
            }, // 要提交的数据
            dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
            success: function (obj) {
                if (obj.status) {
                    $('.douban_link').html("<a href='https://movie.douban.com/subject/"+obj.data+"/' target='_blank'>"+obj.data+"</a>")
                } else {
                    $('.msg').text(obj.error)
                    if (obj.data){
                        var html_str = "";
                        for(i in obj.data){
                            html_str += "<a href='https://movie.douban.com/subject/"+obj.data[i]+"/' target='_blank'>"+obj.data[i]+"</a>&nbsp;&nbsp;"
                            html_str += "<a href='/admin/set_rating/?vod_id={{vod_data.vod_id}}&douban_id="+obj.data[i]+"' target='_blank'>"+'提交'+"</a><br>"
                        };
                        $('.douban_link').html(html_str)
                    }else{

                    }
                }
            },
            error: function () {
                console.log("请求未知错误")
                //后台未接收到请求或未返回数据等未知错误
            }
        })
    });
    (function () {
        var player = new DPlayer({
            "container": document.getElementById("video_player"), // 对应 div 中的 id
            "preload": "auto",
            "screenshot": true,
            "video": {   // 视频配置
                "url": "{{ video_url.1 }}", // 视频链接
                "type": "hls",
            },
        });
        window.dplayers || (window.dplayers = []);
        window.dplayers.push(player);
    })()
</script>
{% endblock %}