{% extends 'video_layout.html' %}

{% block title %}
<title>卧龙影视，在线观看</title>
{% endblock %}

{% block css %}{% endblock %}

{% block main %}
<!-- 播放器  -->
<div class="stui-pannel clearfix" style="margin-left: 10px;margin-right: 10px;">
    <div class="stui-player col-pd pb-0">
        <div>
            <div id='video_player'></div>
        </div>
    </div>
    <!-- end 播放器  -->
    <!-- 播放地址 -->
    <div style="margin-top:20px;padding: 0 10px;">自定义播放：(请输入视频直链地址)</div>
    <div class="play-url">
        <form class="ff-play" id="search" name="search" action="/video/play2/" method="post" data-sid="0"
            data-limit="10" data-action="/video/play2/?url=FFURL">
            {% csrf_token %}
            <input class="ff-url form-control" type="text" id="url" name="url" value="" placeholder="请输入视频地址..."
                autocomplete="off">
            <button class="submit" type="submit" name="submit"><i class="icon iconfont icon-search"></i></button>
        </form>
    </div>
    <!-- end 播放地址 -->
</div>

{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/dplayer@latest/dist/DPlayer.min.js"></script>
<script>
    $(".ff-play input").keyup(function (event) {
        if (event.keyCode == 13) {
            $form = $(this).parent('.ff-play');
            $url = $form.find('.ff-url').val();
            $action = $form.attr('data-action');
            if (!$url) {
                $form.find('.ff-url').focus();
                $form.find('.ff-url').attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', '请输入视频地址').tooltip('show');
                return false;
            }
            if ($action) {
                location.href = $action.replace('FFURL', encodeURIComponent($url));
                return false;
            }
        }
    });
    $(".ff-play").on("submit", function () {
        $url = $(this).find('.ff-url').val();
        $action = $(this).attr('data-action');
        if ($url == "") {
            $(this).find('.ff-url').focus();
            $(this).find('.ff-url').attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', '请输入视频地址').tooltip('show');
            return false;
        }
        if ($action) {
            location.href = $action.replace('FFURL', encodeURIComponent($url));
            return false;
        }
    });
    (function () {
        var player = new DPlayer({
            "container": document.getElementById("video_player"), // 对应 div 中的 id
            "preload": "auto",
            "screenshot": true,
            "video": {   // 视频配置
                // m3u8模式
                // "url":"https://moeplayer.b0.upaiyun.com/dplayer/hls/hikarunara.m3u8", // 示例视频链接
                // "url":"https://dapian.video-yongjiu.com/20190731/5652_13d2ab94/800k/hls/index.m3u8", // 视频链接
                "url": "{{ video_url }}", // 视频链接
                "type": "auto",
                // 直链模式
                // "url":"http://static.smartisanos.cn/common/video/t1-ui.mp4" // 示例视频链接
            },
        });
        window.dplayers || (window.dplayers = []);
        window.dplayers.push(player);
    })()
</script>
{% endblock %}