{% extends 'video_layout.html' %}

{% block title %}
<title>{{vod_data.vod_name}}&nbsp;{{ video_url.0 }}在线观看</title>
{% endblock %}

{% block css %}{% endblock %}

{% block main %}
<!-- 播放器  -->
<div class="stui-pannel clearfix" style="margin-left: 10px;margin-right: 10px;">
    <div class="stui-player col-pd pb-0">
        <div>
            <div id='video_player'></div>
        </div>
        <div class="stui-player__detail detail">
            <h4 class="title">
                <a href="/video/play/{{vod_data.vod_id}}/{{ index }}/">{{vod_data.vod_name}}</a>&nbsp;{{ video_url.0 }}
                <span style="float: right;font-size: 14px;color: red;">
                    <span class="hidden-xs">已有最新资源？点击→</span>
                    <a id="push_req" href="javascript:void(0);"
                        style="text-decoration:underline;color: cadetblue;">催更</a>
                </span>
            </h4>
            <p class="data">
                <span style="display: none;">{{ vod_data.vod_id }}</span>
                <span style="display: none;">{{ vod_data.vod_addtime }}</span>
                <span style="display: none;">{{ vod_data.vod_continu }}</span>
                <span class="text-muted hidden-xs">类型：</span>
                <a href="javascript:void(0)">{{vod_data.list_name}}</a><span class="split-line"></span>
                <span class="text-muted hidden-xs">地区：</span>
                <a href="javascript:void(0)">{{vod_data.vod_area}}</a><span class="split-line"></span>
                <span class="text-muted hidden-xs">年份：</span>
                <a href="javascript:void(0)">{{vod_data.vod_year}}</a><span class="split-line"></span>
                <span class="text-muted hidden-xs">导演：</span>
                <a href="javascript:void(0)">{{vod_data.vod_director}}</a>&nbsp; <span class="split-line"></span>
                <span class="text-muted hidden-xs">主演：</span>
                <a href="javascript:void(0)" title="{{vod_data.vod_actor}}">{{vod_data.vod_actor|slice:"30"}}</a>&nbsp;
            </p>
        </div>
    </div>
</div>
<!-- end 播放器  -->

<!-- 播放地址 -->
<div class="stui-pannel clearfix" style="margin-left: 10px;margin-right: 10px;">
    <ul class="stui-content__playlist clearfix">
        {% for i in video_list %}
        <li>
            <a title="{{ i.0 }}" href="/video/play/{{vod_data.vod_id}}/{{ forloop.counter }}/">{{ i.0 }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<!-- end 播放地址 -->

<!-- 剧情  -->
<div class="stui-pannel clearfix" id="desc" style="margin-left: 10px;margin-right: 10px;">
    <div class="stui-pannel__head clearfix">
        <h3 class="title">
            剧情介绍
        </h3>
    </div>
    <div class="col-pd clearfix">
        <div class="stui-content__desc">
            {{vod_data.vod_content}}
        </div>
    </div>
</div>
<!-- end 剧情  -->
{% endblock %}

{% block js %}
<script src="/static/plugins/DPlayer/hls.min.js"></script>
<script src="/static/plugins/DPlayer/DPlayer.min.js"></script>
<script src='/static/jquery/jquery.cookie.js'></script>
<script>
    $('#push_req').click(function () {
        var res = confirm('确认提交？');
        if (res == true) {
            $.ajax({
                url: '/video/push_request/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'vod_addtime': $(this).parents('.title').next('.data').children('span:eq(1)').text(),
                    'list_name': $(this).parents('.title').next('.data').children('a:eq(0)').text(),
                    'vod_name': $(this).parent().prev('a').text(),
                    'vod_continu': $(this).parents('.title').next('.data').children('span:eq(2)').text(),
                    'vod_id': $(this).parents('.title').next('.data').children('span:eq(0)').text(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        alert('提交成功，管理员稍后为您添加！')
                    } else {
                        console.log(obj.error),
                            alert('请求出错，请稍后重试')
                    }
                },
                error: function () {
                    console.log("请求未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    });
    (function () {
        var player = new DPlayer({
            "container": document.getElementById("video_player"), // 对应 div 中的 id
            "preload": "auto",
            "screenshot": true,
            "video": {   // 视频配置
                // m3u8模式
                // "url":"https://moeplayer.b0.upaiyun.com/dplayer/hls/hikarunara.m3u8", // 示例视频链接
                // "url":"https://dapian.video-yongjiu.com/20190731/5652_13d2ab94/800k/hls/index.m3u8", // 视频链接
                "url": "{{ video_url.1 }}", // 视频链接
                "type": "hls",
                // 直链模式
                // "url":"http://static.smartisanos.cn/common/video/t1-ui.mp4" // 示例视频链接
            },
        });
        window.dplayers || (window.dplayers = []);
        window.dplayers.push(player);
    })()
</script>
{% endblock %}