<!DOCTYPE html>
<html lang="zh-cn">

<head>
    {% block title %}{% endblock %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10" />
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="/static/app_video/css/stui_default.css" type="text/css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <script src="/static/jquery/jquery-1.12.4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
        <script src="/Public/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="/Public/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- <img src="/static/app_video/img/IMG_3348.JPG" alt="嘻牵七哈" style="width: 400px;position:fixed;z-index: 9;bottom:0;right:0"> -->
    <div class="container">
        <div class="row">
            <div class="stui-header__top clearfix">
                <div class="stui-header__logo">
                    <a class="logo" href="/video/"></a>

                </div>
                <div class="stui-header__search">
                    <form class="ff-search" id="search" name="search" action="/video/search/" method="post" data-sid="0"
                        data-limit="10" data-action="/video/search/?wd=FFWD&page=1">
                        {% csrf_token %}
                        <input class="ff-wd form-control" type="text" id="wd" name="wd" value="" placeholder="请输入关键词..."
                            autocomplete="off">
                        <button class="submit" type="submit" name="submit"><i
                                class="icon iconfont icon-search"></i></button>
                    </form>
                </div>
            </div>
            <nav class="stui-header__menu clearfix" data-dir="#nav-index">
                <span class="more hidden-xs"></span>
                <ul class="clearfix">
                    <li id="nav-"><a href="/video/">首页</a></li>
                    <li id="nav-dianying"><a href="/video/type/1/">电影</a></li>
                    <li id="nav-dianshiju"><a href="/video/type/2/">电视剧</a></li>
                    <li id="nav-dongman"><a href="/video/type/3/">综艺</a></li>
                    <li id="nav-zongyi"><a href="/video/type/4/">动漫</a></li>
                    <li class="hidden-xs" style="float: right;"><a href="/video/admin/">&nbsp;</a></li>
                </ul>
            </nav>
            <script>
                $(".ff-search input").keyup(function (event) {
                    if (event.keyCode == 13) {
                        $form = $(this).parent('.ff-search');
                        $wd = $form.find('.ff-wd').val();
                        $action = $form.attr('data-action');
                        if (!$wd) {
                            $form.find('.ff-wd').focus();
                            $form.find('.ff-wd').attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', '请输入关键字').tooltip('show');
                            return false;
                            // <div class="tooltip fade bottom in" role="tooltip" id="tooltip55938" style="top: 35px; left: 96px; display: block;"><div class="tooltip-arrow" style="left: 50%;"></div><div class="tooltip-inner">请输入关键字</div></div>
                        }
                        if ($action) {
                            location.href = $action.replace('FFWD', encodeURIComponent($wd));
                            return false;
                        }
                    }
                });
                $(".ff-search").on("submit", function () {
                    $wd = $(this).find('.ff-wd').val();
                    $action = $(this).attr('data-action');
                    if ($wd == "") {
                        $(this).find('.ff-wd').focus();
                        $(this).find('.ff-wd').attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', '请输入关键字').tooltip('show');
                        return false;
                    }
                    if ($action) {
                        location.href = $action.replace('FFWD', encodeURIComponent($wd));
                        return false;
                    }
                });
            </script>
            {% block main %}{% endblock %}
        </div>
    </div>
    <div class="stui-foot clearfix">
        <p>
            <a href="/video/">返回首页</a>
            <a href="javascript:scroll(0, 0)">返回顶部</a>
        </p>
        <div class="hidden-xs">友情提示：请勿长时间观看影视，注意保护视力并预防近视，合理安排时间，享受健康生活。<br>
            版权声明：本站为非赢利性站点，本网站所有内容均来源于互联网相关站点自动搜索采集信息<br>
            免责声明：本站将逐步删除和规避程序自动搜索采集到的不提供分享的版权影视。本站仅供测试和学习交流。请大家支持正版。</div>
        <p class="text-muted visible-xs">Copyright © 2010-2020<a href="/video/admin/">...</a></p>
    </div>
    <div id="rightMenu">
        <a href="#">UP</a>
    </div>
</body>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% block js %}{% endblock %}

</html>