<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>美的肌肤检测</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,viewport-fit=cover">
</head>

<body>
    <div class="container flexCon">
        <div class="already_test">已累计测试 1234 例</div>
        <div class="gif flexCon">
            <img class="g1" src="images/lineBox.png">
            <img class="g2" src="images/head.png">
            <img class="g3" src="images/ani.gif">
        </div>
        <div class="begin">
            <div class="begin_button flexCon" onclick="begin()">开始测试</div>
            <div class="begin_tips flexCon"><img class="agree_radio" src="images/gou.png">我已阅读AI肌肤测试的<a href="">用户协议</a>和<a href="">隐私政策</a></div>
        </div>
    </div>
    <script>
    </script>
</body>

</html>