{% extends "video_layout.html" %}

{% block title %} <title>后台管理</title> {% endblock %}

{% block css %}
{% endblock %}


{% block main %}
<div class="stui-pannel clearfix">
    <div class="stui-pannel__head clearfix">
        <h3 class="title" style="display: inline-block;">
            后台管理&nbsp;&nbsp;
        </h3>
        <span>{{ log_date }}日志文件</span>
    </div>
    <div class="video_list" style="white-space: pre-line; margin:0 30px">
        {{ log }}
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}