{% extends "video_layout.html" %}

{% block title %}<title>卧龙影视，您的专属在线影院</title>{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}


{% block main %}
<div class="stui-pannel clearfix">
    <!-- 图片轮播 -->
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active">
                <a href="/video/play/77747/" title="囧妈"
                    style="background: url(/static/img/jiongma.jpg) no-repeat;">
                    <span class="pic-text text-center">囧妈</span>
                </a>
            </div>
            <div class="item">
                <a href="/video/play/76875/" title="爱情公寓5"
                    style="background: url(https://p2.pstatp.com/origin/ff42000070480de2dbc9) no-repeat;">
                    <span class="pic-text text-center">爱情公寓5</span>
                </a>
            </div>
            <div class="item">
                <a href="/video/play/77626/" title="三生三世枕上书"
                    style="background: url(https://p3.pstatp.com/origin/ff90000154e633498e36) no-repeat;">
                    <span class="pic-text text-center">三生三世枕上书</span>
                </a>
            </div>
            <div class="item">
                <a href="/video/play/75034/" title="半个喜剧"
                    style="background: url(/static/img/bangexiju.jpg) no-repeat;">
                    <span class="pic-text text-center">半个喜剧</span>
                </a>
            </div>
            
        </div>
        <!-- 轮播（Carousel）导航 -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- end 图片轮播 -->
    <div class="stui-pannel__head clearfix" style="margin-top: 10px;">
        <h3 class="title">
            共收录{{data_count}}部影片
        </h3>
    </div>
    <ul class="stui-vodlist clearfix">
        {% for item in video_list %}
        <li class="stui-vodlist__item">
            <a class="stui-vodlist__thumb lazyload" href="/video/play/{{ item.vod_id }}/" title="{{item.vod_name}}"
                data-original="{{ item.vod_pic }}" style="display: block; background-image: url('{{ item.vod_pic }}');">
                <span class="play hidden-xs"></span>
                <span class="pic-text text-right">{{item.vod_continu}}</span>
            </a>
            <h4 class="stui-vodlist__title"><a href="/video/play/{{ item.vod_id }}/"
                    title="{{item.vod_name}}">{{item.vod_name}}</a></h4>
        </li>
        {% endfor%}
    </ul>
    <!-- 翻页 -->
    <div style="clear: both;"></div>
    <ul class="stui-page text-center clearfix">
        {{ page_str }}
    </ul>
    <!-- end 翻页 -->
</div>
{% endblock %}


{% block js %}{% endblock %}