{% extends "video_layout.html" %}

{% block title %} <title>后台管理</title> {% endblock %}

{% block css %}
<style>
    .video_list li {
        display: inline;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }
</style>
{% endblock %}


{% block main %}
<div class="stui-pannel clearfix pt-0">
    <div class="stui-pannel__head clearfix">
        <h3 class="title" style="display: inline;">
            后台管理&nbsp;共{{ data_count }}条请求
        </h3>
        <a href="/video/admin/view_log/" style="float: right;margin-right: 20px;">查看日志</a>
    </div>
    <div class="video_list">
        <ul>
            <li>
                <span style="float: left;width: 40%;background: #e9e9e9;">影片名称</span>
                <span style="float: left;width: 20%;background: #e9e9e9;">影片类别</span>
                <span style="float: right;width: 20%;background: #e9e9e9;">操作</span>
                <span style="float: right;width: 20%;background: #e9e9e9;">更新时间</span>
            </li>
        </ul>
        {% for item in request_list %}
        <ul>
            <li>
                <span style="display: none;">{{ item.vod_id }}</span>
                <span style="margin-left: 2%;float: left;width: 38%;text-align: left;border-bottom: 1px dashed #CCC;">
                    <a href="http://www.zuidazy2.com/?m=vod-detail-id-{{ item.vod_id }}.html" target="_blank">
                        <span>{{ item.vod_name}}</span>
                        <span>{{ item.vod_continu}}</span>
                    </a>
                </span>
                <span style="float: left;width: 20%;border-bottom: 1px dashed #CCC;">{{ item.list_name}}</span>
                <span style="float: right;width: 20%;border-bottom: 1px dashed #CCC;">
                    {% if item.is_add == 0 %}
                    <a href="javascript:void(0)" class="add_btn"
                        style="color: red;border-bottom:red 1px solid;">添加资源</a>&nbsp;
                    {% else %}
                    <a href="javascript:void(0)" class="add_btn"
                        style="color: grey;border-bottom:grey 1px solid;">添加资源</a>&nbsp;
                    {% endif %}
                    <a href="javascript:void(0)" class="del_btn"
                        style="color: red;border-bottom:red 1px solid;">删除请求</a>
                </span>
                <span style="float: right;width: 20%;border-bottom: 1px dashed #CCC;">{{ item.vod_addtime}}</span>
            </li>
        </ul>
        {% endfor%}
        <!-- 翻页 -->
        <div style="clear: both;"></div>
        <ul class="stui-page text-center clearfix">
            {{ page_str }}
        </ul>
        <!-- end 翻页 -->
    </div>
</div>
{% endblock %}

{% block js %}
<script src='/static/jquery.cookie.js'></script>
<script>
    $('.add_btn').click(function () {
        // var res = confirm('确认添加？');
        $(this).css('color', 'grey')
                        $(this).css('border-bottom', 'grey 1px solid')
        if (true) {
            $.ajax({
                url: '/video/admin/add_vod/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'vod_id': $(this).parent().prev().prev().prev().text(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        // alert(obj.data)
                        location.reload();
                    } else {
                        alert(obj.error)
                        $('#error_msg').text(obj.error)         // 将收到的错误信息传给error_msg标签
                    }
                },
                error: function () {
                    alert("请求出现未知错误")
                    console.log("请求出现未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    })
    $('.del_btn').click(function () {
        // var res = confirm('确认删除？');
        if (true) {
            $.ajax({
                url: '/video/admin/del_request/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'vod_id': $(this).parent().prev().prev().prev().text(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        // alert('删除成功！')
                        location.reload();
                    } else {
                        $('#error_msg').text(obj.error)         // 将收到的错误信息传给error_msg标签
                    }
                },
                error: function () {
                    console.log("请求未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    })
</script>
{% endblock %}