{% extends "admin_layout.html" %}

{% block title %}<title>后台管理 | 更新视频</title>{% endblock %}

{% block css %}
<style>
    .row .card a {
        margin: 0 10px;
        border-bottom: blue 1px solid;
        color: blue;
    }
</style>
{% endblock %}


{% block main %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-12">
                    <h3 class="m-0 text-dark" style="display: inline-block;">
                        <a href="/admin/update_video/">
                            <i class="nav-icon iconfont" aria-hidden="true">&#xe787;</i>更新视频&nbsp;&nbsp;
                        </a>
                    </h3>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Main content -->
                    <div class="card">
                        <div class="card-header border-0">
                            <div class="d-flex justify-content-between">
                                <h4 class="card-title">视频更新</h4>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <b><i class="iconfont" aria-hidden="true">&#xe801;</i></b>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                        <b><i class="iconfont" aria-hidden="true">&#xe797;</i></b>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <b><i class="iconfont" aria-hidden="true">&#xe800;</i></b>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>
                                <a href="http://www.zuidazy5.com/">最大资源网</a>
                                >>>>>>
                                <a href="javascript:;" class="update" action-url="/admin/update/?url_index=1&type=today">更新今日</a>
                                <a href="javascript:;" class='update' action-url="/admin/update/?url_index=1&type=count">更新3000</a>
                                <a href="javascript:;" class="update" action-url="/admin/update/?url_index=1&type=all">更新所有</a>
                            </p>
                            <p>
                                <a href="http://bajieziyuan.com/">八戒资源网</a>
                                >>>>>>
                                <a href="javascript:;" class="update" action-url="/admin/update/?url_index=2&type=today">更新今日</a>
                                <a href="javascript:;" class="update" action-url="/admin/update/?url_index=2&type=count">更新3000</a>
                                <a href="javascript:;" class="update" action-url="/admin/update/?url_index=2&type=all">更新所有</a>
                            </p>
                            <p>
                                <a href="http://bajieziyuan.com/">豆瓣数据</a>
                                >>>>>>
                                <a href="javascript:;" class="update" action-url="/admin/get_douban_data/">更新</a>
                                <a href="javascript:;" class="update" action-url="/admin/match_douban_data/">匹配豆瓣数据</a>
                                <a href="javascript:;" class="update" action-url="/admin/match_douban_json_data/">匹配豆瓣数据集</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
{% endblock %}

{% block js %}
<script src="/static/jquery/jquery.cookie.min.js"></script>
<script>
    $('.update').click(function () {
        $(this).css('color', 'grey')
        $(this).css('border-bottom', 'grey 1px solid')
        if (true) {
            $.ajax({
                url: $(this).attr('action-url'),
                type: "GET",
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        alert(obj.data)
                    } else {
                        alert(obj.error)
                    }
                },
                error: function () {
                    $('.error-msg').text("update请求出现未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    });
</script>
{% endblock %}