<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>卧龙影视 | 登录</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <!-- iconfont -->
    <link rel="stylesheet" href="/static/fonts/myfont.css" type="text/css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-4.4.1/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/plugins/AdminLTE/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition login-page">

    <!-- /.login-logo -->
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-logo" style="font-size: 24px;">
                    <a href="/video/"><b>卧龙影视</b></a>
                </div>
                <img class="mb-4" src="/static/img/logo.png" alt="" width="108" height="108"
                    style="border-radius: 10px;margin: 0 auto;display: block">
                <p class="login-box-msg">欢迎登录</p>

                <form action="/admin/login.html" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-4">
                        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="用户名"
                            autofocus>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="iconfont" aria-hidden="true">&#xe7ae;</i>
                            </div>
                        </div>
                    </div>
                    <span style="color: red;" class="error_msg"></span>
                    <div class="input-group mb-4">
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="密码"
                            required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="iconfont" aria-hidden="true">&#xe7ca;</i>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8" style="line-height: 38px;">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember-me">
                                <label for="remember-me">
                                    下次自动登录
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" id="sign_in">登录</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <!-- <p class="mb-1">
                    <a href="#">I forgot my password</a>
                </p> -->
                <p class="mb-1 mt-1">
                    <span>没有账号？</span>
                    <a href="/admin/register.html" class="text-center">立即注册</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</body>
<!-- jQuery -->
<script src="/static/jquery/jquery-1.12.4.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/plugins/bootstrap-4.4.1/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/plugins/AdminLTE/adminlte.min.js"></script>
<script>
    $(function () {
        var ref = '';
        if (document.referrer.length > 0) {
            ref = document.referrer;
        }
        try {
            if (ref.length == 0 && opener.location.href.length > 0) {
                ref = opener.location.href;
            }
        } catch (e) { }
        $('#sign_in').click(function () {
            $('.error_msg').text()
            $.ajax({
                url: '/admin/login.html',
                type: 'POST',
                data: $('form').serialize(),
                dataType: 'JSON',
                success: function (obj) {
                    if (obj.status) {
                        location.href = '/admin/';
                    } else {
                        $('.error_msg').text(obj.error)
                    }
                },
                error: function (obj) {
                    $('.error_msg').text(obj.error)
                }
            })
        })
    })
</script>

</html>