<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>卧龙影视 | 注册</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <!-- iconfont -->
    <link rel="stylesheet" href="/static/fonts/myfont.css" type="text/css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-4.4.1/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/static/plugins/AdminLTE/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card">
            <div class="card-body register-card-body">
                <div class="login-logo" style="font-size: 24px;">
                    <a href="/video/"><b>卧龙影视</b></a>
                </div>
                <img class="mb-4" src="/static/img/logo.png" alt="" width="86" height="86"
                    style="border-radius: 10px;margin: 0 auto;display: block">
                <p class="login-box-msg">欢迎注册</p>

                <form action="/admin/register.html" method="post">
                    {% csrf_token %}
                    {% for field in user_modelform %}
                    <div class="form-group mb-4">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <div class="row">
                        <div class="col-8" style="line-height: 38px;">
                            <span>已有账号？</span>
                            <a href="/admin/login.html" id="sign_up">直接登录</a>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" id="sign_up">注册</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->

<!-- jQuery -->
<script src="/static/jquery/jquery-1.12.4.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/plugins/bootstrap-4.4.1/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/plugins/AdminLTE/adminlte.min.js"></script>
</body>

</html>