{% extends "video_layout.html" %}

{% block title %} <title>TV后台管理</title> {% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    .video_list li {
        display: inline;
        text-align: center;
        line-height: 30px;
    }
</style>
{% endblock %}


{% block main %}
<div class="stui-pannel clearfix">
    <div class="stui-pannel__head clearfix">
        <h3 class="title" style="display: inline;">
            <a href="/admin/tv/">TV后台管理</a>&nbsp;共{{ data_count }}条请求
        </h3>
    </div>
    <div class="video_list">
        <ul class="tt">
            <li>
                <span class="v-list-1">影片名称</span>
                <span class="v-list-4">操作</span>
            </li>
        </ul>
        {% for item in request_list %}
        <ul class="td">
            <li>
                <span style="display: none;">{{ item.id }}</span>
                <!-- 影片名称 -->
                <span class="v-list-1">
                    <a href="/video/play/{{ item.id }}" target="_blank"
                        title="{{ item.name}}">
                        <span style="border:none!important">{{ item.name}}</span>
                    </a>
                </span>
                <!-- 操作 -->
                <span class="v-list-4">
                    <a href="javascript:void(0)" class="add_btn"
                        style="color: red;border-bottom:red 1px solid;">更新</a>&nbsp;
                    <a href="javascript:void(0)" class="del_btn" style="color: red;border-bottom:red 1px solid;">删除</a>
                </span>
            </li>
        </ul>
        {% endfor%}
        <!-- 翻页 -->
        <div style="clear: both;"></div>
        <ul class="stui-page text-center clearfix">
            {{ page_str }}
        </ul>
        <!-- end 翻页 -->
    </div>
    <div style="font-size: 14px;margin: 10px;text-align: center;">
        <form class="ff-play visible-xs" name="search" action="javascript:void(0);" method="post" data-sid="0"
            data-limit="10" style="width: 100%;">
            {% csrf_token %}
            <input class="ff-req form-control" type="text" name="vod_name" value="" placeholder="请输入影片id..."
                style='display: inline-block; width: auto;vertical-align:middle;width: 70%;'>
            <button class="submit push_req btn btn-default" type="submit" name="submit">提交</button>
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script src='/static/jquery/jquery.cookie.js'></script>
<script>
    $('.add_btn').click(function () {
        // var res = confirm('确认添加？');
        $(this).css('color', 'grey')
        $(this).css('border-bottom', 'grey 1px solid')
        if (true) {
            $.ajax({
                url: '/admin/tv_json/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'add_vid': $(this).parent().prev().prev().text(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        // alert(obj.data)
                        location.reload();
                    } else {
                        alert(obj.error)
                    }
                },
                error: function () {
                    alert("添加请求出现未知错误")
                    console.log("添加请求出现未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    })
    $('.del_btn').click(function () {
        // var res = confirm('确认删除？');
        if (true) {
            $.ajax({
                url: '/admin/tv_json/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'del_vid': $(this).parent().prev().prev().text(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        // alert('删除成功！')
                        location.reload();
                    } else {
                        alert(obj.error)
                    }
                },
                error: function () {
                    console.log("删除请求未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
        };
    });
    
    $(".ff-play button").on("click", function () {
        $req = $(this).siblings('.ff-req').val();
        if ($req == "") {
            $(this).siblings('.ff-req').focus();
            $(this).siblings('.ff-req').attr('data-toggle', 'tooltip').attr('data-placement', 'bottom').attr('title', '请输入影片id').tooltip('show');
            return false;
        }
        $.ajax({
                url: '/admin/tv_json/',
                type: "POST",
                headers: { "X-CSRFToken": $.cookie('csrftoken') },
                data: {
                    'add_vid': $(this).siblings('.ff-req').val(),
                }, // 要提交的数据
                dataType: 'JSON',                 // 自动将接收到的data反序列化成obj返回
                success: function (obj) {
                    if (obj.status) {
                        // alert(obj.data)
                        location.reload();
                    } else {
                        alert(obj.error)
                    }
                },
                error: function () {
                    alert("添加请求出现未知错误")
                    console.log("添加请求出现未知错误")
                    //后台未接收到请求或未返回数据等未知错误
                }
            })
    });
</script>
{% endblock %}